<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='banner.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />
</head>
 {% include 'navbar.html' %}
<div style="margin-left:86px;margin-top:21px;" class="caty-container">
    <div class="">
        <div class="row">
            <div class="col-4 sidebar ">
                <div style="margin-top:-10px;" class="main-caty-list">
                    <div class="">
                        <!-- Kili Featured -->
                        <div class="">
                            <div class="caty-name">
                                <div class="main-caty-item">
                                    <img class="caty-icon" src="https://img.kilimall.com/c/common/category-icon/100000627.png?x-image-process=image/format,webp/resize,w_240#">
                                    <p class="caty-name">Dygy Featured</p>
                                    <i class="" style="color: rgb(153, 153, 153); font-size: 13px;"></i>
                                    <!-- Dropdown Menu -->
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Smart Phones</a></li>
                                    <li><a href="#">Televisions</a></li>
                                    <li><a href="#">Kitchen Supplies</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Bags</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- TV, Audio & Video -->
                        <div class="">
                            <div class="caty-name">
                                <div class="main-caty-item">
                                    <img class="caty-icon" src="https://img.kilimall.com/c/common/category-icon/100000784.jpg?x-image-process=image/format,webp/resize,w_240#">
                                    <p class="caty-name">Laptops & Notebooks</p>
                                    <i class="" style="color: rgb(153, 153, 153); font-size: 13px;"></i>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Refubrished Laptops</a></li>
                                    <li><a href="#">Televisions</a></li>
                                    <li><a href="#">Kitchen Supplies</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Bags</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Shoes -->
                        <div class="">
                            <div class="caty-name">
                                <div class="main-caty-item">
                                    <img class="caty-icon" src="https://img.kilimall.com/c/common/category-icon/100000485.png?x-image-process=image/format,webp/resize,w_240#">
                                    <p class="caty-name">Smartphones </p>
                                    <i class="" style="color: rgb(153, 153, 153); font-size: 13px;"></i>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Smart Phones</a></li>
                                    <li><a href="#">Televisions</a></li>
                                    <li><a href="#">Kitchen Supplies</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Bags</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Phones & Accessories -->
                        <div class="">
                            <div class="caty-name">
                                <div class="main-caty-item">
                                    <img class="caty-icon" src="https://img.kilimall.com/c/common/category-icon/100000495.png?x-image-process=image/format,webp/resize,w_240#">
                                    <p class="caty-name">Audio & Wearables</p>
                                    <i class="" style="color: rgb(153, 153, 153); font-size: 13px;"></i>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Audio & Wearables</a></li>
                                    <li><a href="#">Televisions</a></li>
                                    <li><a href="#">Kitchen Supplies</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Bags</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Home & Kitchen -->
                        <div class="">
                            <div class="caty-name">
                                <div class="main-caty-item">
                                    <img class="caty-icon" src="https://img.kilimall.com/c/common/category-icon/100000760.jpg?x-image-process=image/format,webp/resize,w_240#">
                                    <p class="caty-name">Power Supplies</p>
                                    <i class="" style="color: rgb(153, 153, 153); font-size: 13px;"></i>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Power Supplies</a></li>
                                    <li><a href="#">Televisions</a></li>
                                    <li><a href="#">Kitchen Supplies</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Bags</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Health & Beauty -->
                        <div class="">
                            <div class="caty-name">
                                <div class="main-caty-item">
                                    <img class="caty-icon" src="https://img.kilimall.com/c/common/category-icon/100000494.jpg?x-image-process=image/format,webp/resize,w_240#">
                                    <p class="caty-name">Software & Services</p>
                                    <i class="" style="color: rgb(153, 153, 153); font-size: 13px;"></i>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Software & Services</a></li>
                                    <li><a href="#">Televisions</a></li>
                                    <li><a href="#">Kitchen Supplies</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Bags</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Appliances -->
                        <div class="">
                            <div class="caty-name">
                                <div class="main-caty-item">
                                    <img class="caty-icon" src="https://img.kilimall.com/c/common/category-icon/100000668.png?x-image-process=image/format,webp/resize,w_240#">
                                    <p class="caty-name">Laptop Bags & Cases</p>
                                    <i class="" style="color: rgb(153, 153, 153); font-size: 13px;"></i>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Laptop Bags & Cases</a></li>
                                    <li><a href="#">Televisions</a></li>
                                    <li><a href="#">Kitchen Supplies</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Bags</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Others -->
                        <div class="">
                            <div class="caty-name">
                                <div class="main-caty-item">
                                    <img class="caty-icon" src="https://img.kilimall.com/c/common/category-icon/100000785.png?x-image-process=image/format,webp/resize,w_240#">
                                    <p class="caty-name">Graphics Cards</p>
                                    <i class="" style="color: rgb(153, 153, 153); font-size: 13px;"></i>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Graphics Cards</a></li>
                                    <li><a href="#">Televisions</a></li>
                                    <li><a href="#">Kitchen Supplies</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Bags</a></li>
                                </ul>
                            </div>
                        </div>
                         <!-- Others -->
                         <div class="">
                            <div class="caty-name">
                                <div class="main-caty-item">
                                    <img class="caty-icon" src="https://img.kilimall.com/c/common/category-icon/100000785.png?x-image-process=image/format,webp/resize,w_240#">
                                    <p class="caty-name">Computer Peripherals</p>
                                    <i class="" style="color: rgb(153, 153, 153); font-size: 13px;"></i>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Computer Peripherals</a></li>
                                    <li><a href="#">Televisions</a></li>
                                    <li><a href="#">Kitchen Supplies</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Bags</a></li>
                                </ul>
                            </div>
                        </div>
                         <!-- Others -->
                         <div class="">
                            <div class="caty-name">
                                <div class="main-caty-item">
                                    <img class="caty-icon" src="https://img.kilimall.com/c/common/category-icon/100000785.png?x-image-process=image/format,webp/resize,w_240#">
                                    <p class="caty-name">Others</p>
                                    <i class="" style="color: rgb(153, 153, 153); font-size: 13px;"></i>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Others</a></li>
                                    <li><a href="#">Televisions</a></li>
                                    <li><a href="#">Kitchen Supplies</a></li>
                                    <li><a href="#">Watches</a></li>
                                    <li><a href="#">Bags</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-right:11px;" class="col-8">
                <div class="slider">
                    <div class="slides">
                        {% for banner in banners %}
                                <div class="slide {% if loop.first %}active{% endif %}">
                                    <img src="data:image/jpeg;base64,{{ banner.image_data }}" alt="{{ banner.name }}">
                                </div>
                        {% endfor %}
                    </div>
                    <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
                    <button class="next" onclick="moveSlide(1)">&#10095;</button>
                </div>
            </div>
            <div class="col-4 sidebar">
                <div class="help-section">
                    <!-- HELP CENTER -->
                    <a href="https://www.jumia.co.ke/sp-help/?source=HP_ICON">
                        <img src="https://ke.jumia.is/cms/2021/W26/CP/new-hp-sliders/Webp.net-resizeimage-(1).png" alt="HELP CENTER">
                        <div>
                            <div class="title">HELP CENTER</div>
                            <div class="description">Guide To Customer Care</div>
                        </div>
                    </a>

                    <!-- EASY RETURN -->
                    <a href="https://www.jumia.co.ke/sp-returns-refunds/?source=HP_Icon">
                        <img src="https://ke.jumia.is/cms/2021/W26/CP/new-hp-sliders/icone-2-return.png" alt="EASY RETURN">
                        <div>
                            <div class="title">EASY RETURN</div>
                            <div class="description">Quick Refund</div>
                        </div>
                    </a>

                    <!-- SELL ON DygyCom -->
                    <a href="https://vendorcenter.jumia.com/sign-up">
                        <img src="https://ke.jumia.is/cms/2021/W26/CP/new-hp-sliders/icone-2-payment.png" alt="SELL ON DygyCom">
                        <div>
                            <div class="title">SELL ON DydyCom</div>
                            <div class="description">Millions Of Visitors</div>
                        </div>
                    </a>
                </div>
                <div class="slider-container1">
                    <div class="slider1">
                    <!-- Replace images with text inside <div> tags -->
                        <div class="slide1">
                            <p>Call or WhatsApp <br> 0704648873</p>
                        </div>
                        <div class="slide1"><p>LIVE NOW <br> AMAZING DEALS!</p></div>
                        <div class="slide1"><p>SHOP <br> YOUR FAVORITES <br> AT DISCOUNTS!</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Flash Sales-->
<div class="flash-sales-section">
    <div class="flash-wrapper">
        <div class="flash-header">
            <div class="header-content">
                <i style="font-size: 25px; color: #147cb9; margin-right: 7px;" class="fa-solid fa-fire-flame-simple"></i>
                <span class="flash-title-text">Hot Deals</span>
                <span class="countdown-label">Ends in</span>
                <div role="timer" class="countdown-wrapper">
                    <div class="countdown-timer">
                        <span class="time-segment">00h</span>
                        <span class="time-separator">:</span>
                        <span class="time-segment">00m</span>
                        <span class="time-separator">:</span>
                        <span class="time-segment">00s</span>
                    </div>
                </div>
            </div>
            <div class="view-more-btn">View more</div>
        </div>

        <div class="flash-products">
            <!-- Loop through products -->
            {% for product in products %}
            <div class="flash-product-item">
                <div class="product-container">
                    <a href="/product/{{ product.product_id }}" target="_blank">
                        <div class="product-image-container">
                    <!-- Display Base64-encoded product image -->
                    <img src="data:image/jpeg;base64,{{ product.image_data }}"
                         alt="{{ product.name }}"
                         style="max-width: 200px;">
                </div>
                        <div class="product-info">
                            <p class="product-name">{{ product.description }}</p>
                            <div class="product-price-label" style="text-align: left;">
                                KES {{ product.price | round(2) }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--Small Banners Section-->
<div class="medium-banners display">
    <!-- First Image Box -->
     <!-- Loop through the products fetched from the database -->
        {% for small_banner in small_banners %}
        <div class="image-box">
            <a href="/product/{{ small_banner.product_id }}" target="_blank">
                    <!-- Display Base64-encoded product image -->
                    <img src="data:image/jpeg;base64,{{ small_banner.image_data }}"
                         alt="{{ small_banner.name }}"
                         style="max-width: 200px;">
            </a>
        </div>
        {% endfor %}
</div>
<!--Multiple Slider-->
<!-- Multiple Slider Section -->
<div class="slider-containers">
    <div class="slider-wrappers">
      <div class="sliders">
          {% for multiple_slider in multiple_slider %}
            <div class="slidess">
                 <a href="/product/{{ multiple_slider.product_id }}" target="_blank">
                    <!-- Display Base64-encoded product image -->
                    <img src="data:image/jpeg;base64,{{ multiple_slider.image_data }}"
                         alt="{{ multiple_slider.name }}"
                         style="max-width: 200px;">
                 </a>
                <p class="description"><?php echo $row['description']; ?></p><p class="price"><?php echo $row['price']; ?></p>
            </div>
          {% endfor %}
      </div>
    </div>
    <button class="nexts" onclick="moveSlides(1)">&#10095;</button>
</div>
<script src="{{ url_for('static', filename='image_slider.js') }}"></script>
